.headerContainer {
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 6px var(--secondary-color-dark);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.headerButton {
  height: 3rem;
  background-color: var(--secondary-color);
  min-width: 4rem;
  border-radius: 0.1rem;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.headerButton:hover {
  background-color: var(--white);
}

.headerButton:hover a {
  color: var(--secondary-color-dark);
}

.headerButton a {
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
}
