.footerContainer {
  height: 3rem;
  background-color: var(--primary-color);
  padding: 8;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.footerText {
  font-size: 1.5em;
  color: var(--white);
}
