@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --primary-color: #1976d2;
  --primary-color-light: #63a4ff;
  --primary-color-dark: #004ba0;
  --secondary-color: #870d4c;
  --secondary-color-light: #bb4678;
  --secondary-color-dark: #550024;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  order: 0;
}

#content {
  flex: 1;
}

#footer {
  order: 9999;
}
